# So_distribuido/docker-compose.yml
version: '3.8'

services:
  nodo1:
    build: ./nodo
    container_name: so_nodo1
    environment:
      - PUERTO=8101
      - NOMBRE=nodo1
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
    ports:
      - "8101:8101"
    networks:
      - so_red

  nodo2:
    build: ./nodo
    container_name: so_nodo2
    environment:
      - PUERTO=8102
      - NOMBRE=nodo2
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
    ports:
      - "8102:8102"
    networks:
      - so_red

  nodo3:
    build: ./nodo
    container_name: so_nodo3
    environment:
      - PUERTO=8103
      - NOMBRE=nodo3
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
    ports:
      - "8103:8103"
    networks:
      - so_red

networks:
  so_red:
    driver: bridge