services:
  coordinador:
    build: ./coordinador
    container_name: so_coordinador
    environment:
      - PUERTO=8000
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
      - NOMBRE=coordinador
    ports:
      - "8000:8000"
    networks: [so_red]

  agente1:
    build: ./agentes
    container_name: so_agente1
    environment:
      - PUERTO=8101
      - COORDINADOR=http://coordinador:8000
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
      - NOMBRE=agente1
    ports:
      - "8101:8101"
    depends_on: [coordinador]
    networks: [so_red]

  agente2:
    build: ./agentes
    container_name: so_agente2
    environment:
      - PUERTO=8102
      - COORDINADOR=http://coordinador:8000
      - DESCUBRIMIENTO_GRUPO=239.10.10.10
      - DESCUBRIMIENTO_PUERTO=50000
      - NOMBRE=agente2
    ports:
      - "8102:8102"
    depends_on: [coordinador]
    networks: [so_red]

networks:
  so_red:
    driver: bridge
